{% load static %}

<div id="contacto">
    <div class="wrapper">
        <h1 data-aos="fade-down"
            data-aos-duration="900"
            data-aos-offset="0">{{contacto.titulo}}</h1>
        <div class="row">
            <div class="col1">
                <ul class="social-media">
                    <li><a href="{{contacto.instagram}}"><img src="{% static 'landing/assets/icon_ig.png' %}" alt="Instagram"></a></li>
                    <li><a href="{{contacto.facebook}}"><img src="{% static 'landing/assets/icon_fb.png' %}" alt="Facebook"></a></li>
                    <li><a href="{{contacto.linkedin}}"><img src="{% static 'landing/assets/icon_linkedin.png' %}" alt="Linkedin"></a></li>
                </ul>
                <div class="datos">
                    <p><a href="mailto:{{contacto.email}}">{{contacto.email}}</a></p>
                    <p>{{contacto.telefono1}} / {{contacto.telefono2}}</p>
                    <p>{{contacto.direccion}}</p>
                    <p>{{contacto.telefono3}}</p>
                </div>
            </div>
            <div class="col2">
                {% if contacto_alert != '' %}
                <p class="alert">{{contacto_alert}}</p>
                {% endif %}
                <form id="formContacto"
                    method="POST">
                    {% csrf_token %}
                    <ul class="form-contacto">
                    {{contacto_form.as_ul}}
                    </ul>
                    <button class="btn btn-primary" id="contactoFormSubmitBtn" type="submit">Enviar</button>
                    <p id="contactoFormEnviando" class="enviando">Enviando...</p>
                </form>
            </div>
        </div>

    </div>
</div>